body {
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2680c9 24%, #3e91d6 33%, #e5e5e5 94%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(24%, #2680c9), color-stop(33%, #3e91d6), color-stop(94%, #e5e5e5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%, #2680c9 24%, #3e91d6 33%, #e5e5e5 94%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%, #2680c9 24%, #3e91d6 33%, #e5e5e5 94%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%, #2680c9 24%, #3e91d6 33%, #e5e5e5 94%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1e5799 0%, #2680c9 24%, #3e91d6 33%, #e5e5e5 94%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#e5e5e5', GradientType=0);
    /* IE6-9 */
}
.sidebar {
    position: relative;
    top: 70px;
}
#home > h1, h2 {
    text-align: center;
    color: white;
}
.action-btn {
    float: left;
    position: relative;
    top: 10px;
}
.posts {
    margin-left: -40px;
}
.post {
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    margin-top: 18px;
}
#mc-embedded-subscribe {
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
