body {
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2680c9 24%, #3e91d6 33%, #e5e5e5 94%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(24%, #2680c9), color-stop(33%, #3e91d6), color-stop(94%, #e5e5e5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%, #2680c9 24%, #3e91d6 33%, #e5e5e5 94%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%, #2680c9 24%, #3e91d6 33%, #e5e5e5 94%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%, #2680c9 24%, #3e91d6 33%, #e5e5e5 94%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1e5799 0%, #2680c9 24%, #3e91d6 33%, #e5e5e5 94%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#e5e5e5', GradientType=0);
    /* IE6-9 */
}
.sidebar {
    position: relative;
}
#home > h1, h2 {
    text-align: center;
    color: white;
}
#home > h2 {
    text-align: center;
    color: white;
    margin: 0px;
    font-size: 44px;
}
.action-btn {
    float: left;
    position: relative;
    top: 10px;
}
.posts {
    margin-left: -40px;
}
/*.post {
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    margin-top: 18px;
}*/
#mc-embedded-subscribe {
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
/*#post-panel{
    position: relative;
    top: 8px;
}*/


/*social buttons*/
.social-count {
    display: inline;
    position: relative;
}
.social-count:after {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #CCCCCC;
    border-radius: 1px;
    color: #444444;
    content: attr(data-count);
    display: block;
    /*height: 44px;*/
    left: -0px;
    padding: 16px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 #000000;
    top: -59px;
    white-space: nowrap;
    width: 54px;
    z-index: 98;
}
.social-count:before {
    border: solid;
    border: 1px solid #ccc;
    border-color: #111 transparent;
    border-color: #ccc transparent;
    border-width: .4em .4em 0 .4em;
    top: -5px;
    content:"";
    display: block;
    left: 22px;
    position: absolute;
    z-index: 99;
}
.social-container {
    height: 100px;

}
.social-container a {
    float: left;
    margin:4px;
    width:54px;
    margin-top: 60px;
}
.social-container div {
    float: left;
    width:54px;
    height:54px;
    background-color:black;
    background-image:url('../img/social-icons.png');
}
#sfb {
    background-position:70% 0;
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:0.8;
}
#sfb:hover {
    background-position:70% 0%;
    border-bottom:2px solid #343437;
    transition:0.15s ease-in all;
    opacity:1;
}
#stwit {
    background-position:50% 0;
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:0.8;
}
#stwit:hover {
    background-position:50% 0%;
    border-bottom:2px solid #343437;
    transition:0.15s ease-in all;
    opacity:1;
}
#sgplus {
    background-position:20% 0;
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:0.8;
}
#sgplus:hover {
    background-position:20% 0;
    border-bottom:2px solid #343437;
    transition:0.15s ease-in all;
    opacity:1;
}
/*end of social buttons*/