---
layout: default
title: EFA Action Centre
mail_chimp: true
---

<div id="home">
  <h1>EFA Action Centre</h1>
  <ul class="posts">
    {% for post in paginator.posts  %}


   <div class="panel panel-default">
	  <div class="panel-heading"><h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3></div>
	  <div class="panel-body">
	    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}

	    <br />

	    <a type="button" class="btn btn-primary btn-lg action-btn" href="{{ site.baseurl }}{{ post.url }}">Take Action</a>
	  </div>
	</div>

    {% endfor %}
  </ul>

{% include paginator.html %}

</div>
