<!-- postcode action form -->
{% if page.action_form == "postcode" %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Action Form</h3>
    </div>
    <div class="panel-body">
        <h5>Enter your postcode...</h5>
        <div class="form-group">
            <!-- <label class="control-label">Input addons</label> -->
            <div class="input-group">
                <!-- <span class="input-group-addon">$</span> -->
                

                    <input id="postcode_input" class="form-control" type="text" placeholder="Postcode">
                    <span class="input-group-btn">
                        <button id="postcode_go" class="btn btn-primary" type="submit" >Go</button>
                    </span>
                
            </div>
        </div>

    </div>
</div>



<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    $('#postcode_go').click(function() {

        var postcode = $('#postcode_input').val();

        $.getJSON('http://legislators-api.herokuapp.com/legislators?postcode='+postcode, function(data){
            alert(data);
        });
    });
});
</script>
{% endif %}
