<!-- postcode action form -->
{% if page.action_form == "postcode" %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Action Form</h3>
    </div>
    <div class="panel-body">
        <h5>Enter your postcode...</h5>

        <div class="input-group">
        <form id="find_form">
            <input id="postcode_input" class="form-control" type="text" placeholder="Postcode">
            <span class="input-group-btn">
                 <input id="postcode_go" type="submit" class="btn btn-primary" value="Find your legislators">
            </span>
        </form>    
        </div>


        <div class="legislators-div">
            <!-- <h4>legislators</h4> -->
        </div>


    </div>
</div>



<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    $('#find_form').submit(function(event) {
        $('.legislators-div').empty();

        var postcode = $('#postcode_input').val();

        $.getJSON('http://legislators-api.herokuapp.com/legislators?postcode='+postcode, function(data) {

             $('.legislators-div').append('<br />');

            for (var i = 0; i < data.legislators.length; i++) {

             $('.legislators-div').append('<img class="legislator-img" src="'+data.legislators[i].img_url+'">');   
             $('.legislators-div').append('<h5 class="legislator-title">'+data.legislators[i].name+'</h5>');   

            
            
             if(data.legislators[i].twitter){
             $('.legislators-div').append('<a href="'+data.legislators[i].twitter+'" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>');  
             }

             if(data.legislators[i].facebook){
             $('.legislators-div').append('<a href="'+data.legislators[i].facebook+'" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>');  
             }

             if(data.legislators[i].contact_form){
             $('.legislators-div').append('<a href="'+data.legislators[i].contact_form+'" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>');  
             }

             if(data.legislators[i].electorate_office_phone){
             $('.legislators-div').append('<a><i class="fa fa-phone fa-2x"></i>' +data.legislators[i].electorate_office_phone+'</a>');  
             }

             // $('.legislators-div').append('<button type="button" class="btn btn-success contact-btn">Contact</button>');
             $('.legislators-div').append('<br />');
             $('.legislators-div').append('<br />');
            // alert(data.legislators[i].name);
            };
        });
    });
});
</script>

<style type="text/css">
    .legislator-img{
        float: left;
        height:auto;
        width:50px;
    }
    .legislator-title{
        position: relative;
        left: 10px;
    }
    .contact-btn{
        float: right;
    }
    .fa{
        position: relative;
        margin-left: 10px;
    }
</style>
{% endif %}
