<footer>
    <div class="container">

    <ul>
        <li><a href="/about/privacy-policy/" target="_blank">Privacy Policy<a/> |
        </li>
        <li><a href="/contact/" target="_blank">Contact Us</a> |
        </li>
        <li><a href="/copyright/">Copyright</a> &copy; 1995 - 2014 Electronic Frontiers Australia Inc. ABN 35 050 159 188
           
        </li>
    </ul>
    </div>
</footer>

<style type="text/css">

    footer{
        background-color: #287AC8;
        color: white;
        
    }
    footer ul li a{
       color: white;}
</style>