<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Subscribe to our mailing list</h3>
  </div>
  <div class="panel-body">


<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://efa.us8.list-manage.com/subscribe/post?u=eee818fb89779c0e3d3277486&amp;id=b9c53ca3b7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>




<!-- <div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL"  >
</div>
 -->


    <div class="input-group">
    
   <input class="form-control" id="inputEmail" placeholder="Email" type="email" value="" name="EMAIL">
      
   
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->


    <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_eee818fb89779c0e3d3277486_b9c53ca3b7" value="">
    </div>

	<span class="input-group-btn">
	<div class="clear">
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" id="sub-btn">
	</div>
	</span>

	</div>
</form>
</div>

<!--End mc_embed_signup-->
  </div>
</div>