            <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Panel primary</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Panel success</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>


{% if page.share_tool == true %}
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Panel warning</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
{% endif %}


{% if page.twitter_tool %}
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/efa_oz"  data-widget-id="454901333217128448">Tweets by @efa_oz</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


{% endif %}

{% if page.twitter_hash %}

  <a class="twitter-timeline"  href=""  data-widget-id="{{page.twitter_hash}}">Tweets about "{{twitter_hash_tag}}"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


{% endif %}