<div class="down sharecenter social-container" style="width: 248px">
    <a data-count="0" href="https://twitter.com/home?status={{page.share_message}} http://efaoz.github.io/actioncentre/{{page.page_url}}" target="_blank" id="twitter" class="twitter-button social-count">
        <div id="stwit"></div>
    </a>
    <a data-count="0" href="https://www.facebook.com/share.php?u={{page.share_message}} http://efaoz.github.io/actioncentre/{{page.page_url}}" id="facebook" target="_blank" class="social-count facebook-button">
        <div id="sfb"></div>
    </a>
    <a data-count="0" href="https://plus.google.com/share?url=Test" id="googleplus" target="_blank" class="social-count google-button">
        <div id="sgplus"></div>
    </a>
</div>




<script type="text/javascript">
var locatio = window.location.href;
$.ajax('http://social-button-server.herokuapp.com/?networks=facebook,twitter,googleplus&url=http://efaoz.github.io/actioncentre/{{page.page_url}}', {
    success: function(res, err) {
        $.each(res, function(network, value) {
            $('#' + network).attr('data-count', value);
        })
    }
})
</script>



<style type="text/css">
.social-count {
    display: inline;
    position: relative;
}
.social-count:after {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #CCCCCC;
    border-radius: 1px;
    color: #444444;
    content: attr(data-count);
    display: block;
    /*height: 44px;*/
    left: -44px;
    padding: 16px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 #000000;
    top: 0;
    white-space: nowrap;
    width: 40px;
    z-index: 98;
}
.social-count:before {
    border: solid;
    border: 1px solid #ccc;
    border-color: #111 transparent;
    border-color: #ccc transparent;
    border-width: .4em .4em 0 .4em;
    top: -5px;
    content:"";
    display: block;
    left: 22px;
    position: absolute;
    z-index: 99;
}
.social-container {
    position: fixed;
    left: 0px;
    width: 300px;
    padding: 100px;
    margin: auto;
    z-index: 999;
}
.social-container a {
    float: left;
    margin:4px;
    width:54px;
    margin:4px;
    height:50px;
}
.social-container div {
    float: left;
    width:54px;
    height:54px;
    background-color:black;
    background-image:url('../img/social-icons.png');
}
#sfb {
    background-position:70% 0;
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:0.8;
}
#sfb:hover {
    background-position:70% 0%;
    border-bottom:2px solid #343437;
    transition:0.15s ease-in all;
    opacity:1;
}
#stwit {
    background-position:50% 0;
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:0.8;
}
#stwit:hover {
    background-position:50% 0%;
    border-bottom:2px solid #343437;
    transition:0.15s ease-in all;
    opacity:1;
}
#sgplus {
    background-position:20% 0;
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:0.8;
}
#sgplus:hover {
    background-position:20% 0;
    border-bottom:2px solid #343437;
    transition:0.15s ease-in all;
    opacity:1;
}
</style>
